
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  max-width: 99.4% !important;
}

body, main.py-4 {
  background-color: #4595d2;
  padding: 0px !important;
  margin: 0px;
}
main {
  width: 99.1% !important;
 }

.second {
  background-color: #02396f;

}

.clock {
  color: #ffc000;
  font-size: 3vw;
  font-family: "Arial Black";
}


.text-second {
  color: #ffc000 !important;
}


.column-head {
  font-size: 2vw;
}

.header {
  font-size: 1vw !important;
  font-family: Arial
}

th {
  background-color: #02396f !important;
  font-size: 1vw;
  padding-left: 8% !important;
  font-weight: 900 !important;
  padding-right: 30px !important;

}

td {
  padding-left: 8% !important;
  font-family: "Arial";

}

td {
  font-size: 1.3vw;
  color: #fff;
}


.table-zebra tbody tr:nth-of-type(even) {
    background-color: #02396f;
}

.delay {
  font-weight: 900;
  color: #fc0307 !important;
}

.table {
  margin-bottom: 0px;
}


